:root {
  --darkgreen-color: #3b3d57;
  --light-beje-color: #eae8d5;
  --pink-color: #d7755a;
  --light-green-color: #7cab94;
  --yellow-color: #e9c388;
}
body {
  background-color: var(--darkgreen-color);
  font-family: "Nunito", sans-serif;
}
div.main-content {
  margin-top: 150px;
}
.logo {
  width: 60px;
}

footer {
  text-align: center;
  color: var(--light-beje-color);
}
.self-description {
  font-size: 50px;
  color: var(--light-beje-color);
  font-weight: bold;
}
.small-self-description {
  font-size: 25px;
  color: var(--light-green-color);
  background-color: var(--light-beje-color);
  border-radius: 5px;
  border: 1px solid var(--light-green-color);
  padding: 25px 60px;
  box-shadow: 12px 12px 2px 1px var(--light-green-color);
  margin-top: 50px;
}
.animation {
  width: 600px;
  height: 600px;
  margin: 0;
}
.download-btn {
  text-align: center;
  margin: 30px;
}
a.cv-button {
  padding: 10px;
  border-radius: 15px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--light-green-color);
  color: var(--light-beje-color);
  text-decoration: none;
}
.child {
  align-self: flex-end;
  width: 100px;
  height: 34px;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  transform-origin: bottom;
}
.bounce:hover {
  animation-name: bounce;
  animation-timing-function: ease;
}
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}
.navbar li:hover {
  background-color: var(--light-green-color);
  opacity: 0.97;
  border-radius: 5px;
  color: #eae8d5;
}
.navbar-btn {
  color: #5b7e7a;
}

h1 {
  width: 70%;
  margin: 0.7em auto;
  overflow: hidden;
  text-align: center;
  font-weight: 300;
  color: var(--darkgreen-color);
  margin-top: 100px;
}
h1:before,
h1:after {
  content: "";
  display: inline-block;
  width: 50%;
  margin: 0 0.5em 0 -55%;
  vertical-align: middle;
  border-bottom: 1px solid;
}
h1:after {
  margin: 0 -55% 0 0.5em;
}
span {
  display: inline-block;
  vertical-align: middle;
}

@media (max-width: 700px) {
  * {
    margin: 0;
    padding: 0;
  }
  .animation {
    width: 300px;
    display: block;
    margin: 0 auto;
  }

  .self-description {
    font-size: 25px;
    padding: 20px;
  }
  footer {
    text-align: center;
    font-size: 10px;
  }
  .small-self-description {
    font-size: 15px;
  }
  .download-btn {
    margin: 0;
  }
  .image-col {
    height: 400px;
    position: relative;
    top: -100px;
  }
}
@media (max-width: 1000px) and (min-width: 701px) {
  * {
    margin: 0;
    padding: 0;
  }
  .animation {
    width: 400px;
    display: block;
    margin: 0 auto;
  }

  .self-description {
    font-size: 30px;
    padding: 20px;
  }
  footer {
    text-align: center;
    font-size: 10px;
  }
  .small-self-description {
    font-size: 15px;
  }
  .download-btn {
    margin: 0;
  }
  .image-col {
    height: 400px;
    position: relative;
    top: -100px;
  }
}
section {
  background-color: var(--yellow-color);
}
.about-text {
  font-size: 30px;
  color: var(--darkgreen-color);
}
