:root {
  --darkgreen-color: #153d3c;
  --light-beje-color: #efeae9;
  --pink-color: #dc8b79;
  --light-green-color: #5b7e7a;
  --yellow-color: #cea25f;
}
body {
  background-color: var(--darkgreen-color);
  font-family: "Montserrat Alternates", sans-serif;
  font-family: "Mukta", sans-serif;
  font-family: "Playfair Display", serif;
  font-family: "Raleway", sans-serif;
}
div.main-content {
  margin-top: 150px;
}
.logo {
  width: 70px;
}

footer {
  text-align: center;
  color: var(--light-beje-color);
}
.self-description {
  font-size: 40px;
  padding: 0;
  color: var(--light-beje-color);
}
.small-self-description {
  font-size: 25px;
  margin: 50px;
  color: var(--pink-color);
}
img {
  margin: 0;
}
.download-btn {
  display: block;
  margin: 0 auto;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 30px;
  border-radius: 15px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--pink-color);
  color: var(--light-beje-color);
}

.child {
  align-self: flex-end;
  width: 100px;
  height: 40px;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  transform-origin: bottom;
}
.bounce:hover {
  animation-name: bounce;
  animation-timing-function: ease;
}
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}
.navbar li:hover {
  background-color: #dc8b79;
  opacity: 0.89;
  border-radius: 5px;
}
.navbar-btn {
  color: #5b7e7a;
}

@media (max-width: 600px) {
  * {
    margin: 0;
    padding: 0;
  }
  img {
    display: flex;
    justify-content: center;
    width: 300px;
  }

  .self-description {
    font-size: 25px;
    padding: 20px;
  }
  footer {
    text-align: center;
    font-size: 10px;
  }
  .small-self-description {
    font-size: 15px;
  }
}
* {
  margin: 0;
  padding: 0;
}
